# Server Express
PORT=8080

# KOnfigurasi Database 
DB_HOST=localhost
# <<<<<<< Updated upstream
DB_USER=root
DB_PASSWORD=
DB_NAME=db_perpus_tr
# =======
DB_USER=ROOT
DB_PASSWORD=
DB_NAME= db_perpus_tr
# >>>>>>> Stashed changes
DB_PORT=3306